@media (max-width: 650px) {
    body {
        display: flex;
        height: auto;
        width: auto;
        margin: 0px;
        flex-direction: column;
        text-align: center;
        font-family: 'Bubblegum Sans', sans-serif;
        background-color: #f5ebe0;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 20px;
        background-color: rgb(216, 199, 177);
        border-bottom: solid 3px black;
        border-top: solid 3px black;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 20px;
        background-color: rgb(216, 199, 177);
        border-bottom: solid 3px black;
        border-top: solid 3px black;
    }

    #start-button {
        display: flex;
        width: 99%;
        justify-content: center;
        margin: auto;
    }

    #game-setup {
        text-align: center;
    }

    #container-form {
        text-align: center;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }

    #setup-form {
        width: 100%;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin: 5px;
        flex: 2;
        padding: 5px;
        background-color: lightgray;
    }

    label,
    input {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        margin: 0.15px;
        text-align: center;
        width: 200px;
    }

    #color-choice {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        margin: 0.15px;
        text-align: center;
        width: 200px;
    }

    .game-row {
        display: flex;
        margin: 5px 0;
    }

    .game-rectangle {
        width: 150px;
        height: 50px;
        background-color: lightgray;
        border: 1px solid #000;
        margin: 0 5px;
    }

    #gameboard-div {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    #game-board {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        width: 100%;
    }

    #high-score {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #submit-button {
        margin: 5px;
        display: none;
    }

    .selected {
        border: 3px solid orangered;
    }

    .cheat .game-rectangle {
        font-size: 14px;
    }
}