body {
    display: flex;
    height: auto;
    width: auto;
    margin: 0px;
    flex-direction: column;
    text-align: center;
    font-family: 'Bubblegum Sans', sans-serif;
    background-color: #f5ebe0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px;
    background-color: rgb(216, 199, 177);
    border-bottom: solid 3px black;
    border-top: solid 3px black;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px;
    background-color: rgb(216, 199, 177);
    border-bottom: solid 3px black;
    border-top: solid 3px black;
}

button {
    display: flex;
    width: 99%;
    justify-content: center;
    margin: auto;
}

#game-setup {
    text-align: center;
}

#container-form {
    text-align: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}


#setup-form {
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin: 5px;
    flex: 2;
    padding: 5px;
    background-color: lightgray;
}

label,
input {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    margin: 0.15px;
    text-align: center;
    width: 200px;
    /* Adjust the width as needed */
}

#color-choice {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    margin: 0.15px;
    text-align: center;
    width: 200px;
    /* Adjust the width as needed */
}

.game-row {
    display: flex;
    margin: 5px 0;
    /* Add margin to create vertical spacing between rows */
}

.game-rectangle {
    width: 150px;
    height: 50px;
    background-color: lightgray;
    border: 1px solid #000;
    margin: 0 5px;
    /* Add margin to create horizontal spacing between rectangles */
}

#gameboard-div {
    /* Make the high score table and gameboard side by side */
    display: flex;
    flex-direction: row;
}

#game-board {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
}

#high-score {
    display: flex;
    flex: 1;
    height: 260px;
}

#submit-button {
    /* Making the button not visible at first */
    margin: 5px;
    display: none;
}


/* Base styles for the squares and the cheat mode */
.square {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 18px;
}

.cheat .square {
    border: 1px solid #000;
}

/* Additional styles for the cheat mode */
.cheat .square::before {
    content: attr(data-rgb);
    /* Display RGB value as pseudo-element content */
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    font-weight: normal;
}

/* Styles for the cheat text and overlay */
.cheat::before {
    content: 'Cheat Mode';
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
    font-weight: bold;
}

#high-score {
    display: flex;
    flex-direction: column;
}

.game-rectangle:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}

/* Style for the game rectangle container */
.game-rectangle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    /* Add margin between rectangles */
}

/* Style for the RGB text */
.rgb-text {
    margin-top: 4px;
    margin-bottom: 4px;
    /* Add some space between RGB and color name */
}

/* Style for the color name text */
.color-name-text {
    font-weight: bold;
    color: #333;
}

.selected {
    border: 3px solid orangered;
}